

<li class='single-answer <%= 'best-answer' if answer.best? %>'>
  <div class="single-answer-body">
    <%= answer.body %>
  </div>
  <span class="single-answer-info"><span class='user-name'><%= answer.user.username %></span>  answered about <%= time_ago_in_words(answer.created_at) %> ago</span>
  <% if current_user %>
 <!-- #CR why not use form_for @vote here?  -->
    <div class="answer-upvote-box">
    <% values = { vote_type: true, voteable_id: answer.id, voteable_type: answer.class } %>
      <%= form_tag '/votes/1', method: "put", remote: true do -%>
        <% values.each_pair do |key, value|%>
          <%= hidden_field_tag key, value %>
        <% end %>
        <%= button_tag "Boss", :class => 'btn btn-success' %>
      <% end -%>
    </div>
      <div id="answer-score<%= answer.id %>">
        <span><%= answer.vote_count %></span>
      </div>
      <!-- #CR use a partial for up and down  -->
    <div class="answer-downvote-box">
    <% values = { vote_type: false, voteable_id: answer.id, voteable_type: answer.class } %>
      <%= form_tag '/votes/1', method: "put", remote: true do -%>
        <% values.each_pair do |key, value|%>
          <%= hidden_field_tag key, value %>
        <% end %>
        <%= button_tag "Not Boss", :class => 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>

  <% if current_user_name == @question.user.username %>
    <div data-answer="best">
      <%= form_tag "/answers/#{answer.id}", method: "put", remote: true do -%>
        <%= button_tag "Best", :class => 'btn btn-primary best-button' %>
      <% end %>
    </div>
  <% end %>
</li>
