<div class="vote-box">
      <%= form_tag({ controller: "votes", action: "update", vote_type: true, voteable: { id: @question, type: @question.class }}, method: "put", remote: true) do -%>
        <%= button_tag "Boss", :class => 'btn btn-success' %>
      <% end -%>
      <div class="score">
        <span><%= @question.vote_count %></span>
      </div>
      <%= form_tag({ controller: "votes", action: "update", vote_type: false, voteable: { id: @question, type: @question.class }}, method: "put", remote: true) do -%>
        <%= button_tag "Not Boss", :class => 'btn btn-danger' %>
      <% end %>
    </div>